/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
*{
  font-family: 'Roboto', sans-serif;
}
.navbar {
  transition: all 0.4s;
  background-color: #fff;
  padding: 0px !important;
}
.navbar .shadow{
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.navbar .nav-link {
  color: #000;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #f55858;
  text-decoration: none;
}

.navbar .navbar-brand {
  color: #000;
}
.navbar-brand .logo{
  margin: 0;
  padding: 0;
  /* height: 60px; */
}

/* Change navbar styling on scroll */
.navbar.active {
  background: #fff;
  z-index: 999;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
  color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: #555;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: #555;
}
.nav-item{
  margin: auto 5px;
  font-weight: 500;
  letter-spacing: 1px;
}
.nav-item .sign-up{
  border: 1px solid rgb(245, 73, 73);
  border-radius: 5px;
}
.nav-link{
  padding: 5px 8px;
}

/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
  .navbar {
      background: #fff;
  }

  .navbar .navbar-brand, .navbar .nav-link {
      color: #555;
  }
}