body {
    font-family: sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
} 
nav{
    padding: 0px 15px !important;
    box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
} 
nav img{
    height: 55px;
    width: auto;
    margin: 0px 10px;
}
a{
    text-decoration: none !important;
} 
form{
    box-shadow: 0px 2px 8px 2px #c5c5c580;
    border-radius: 10px;
    border: 1px solid #dbdbdb;
}
form>.row{
    position: relative;
}
input {
    padding: 9px 0px 7px 9px;
    font-size: 12px;
    width: 16rem;
    height: 1.2rem;
    outline: none;
    background: #fafafa !important;
    border-radius: 5px;
    border: 1px solid #dbdbdb !important;
}
.form-control{
    position: relative;
}
.form-control:focus{
    border:1px solid #aaaaaa;
    box-shadow: none;
}
.form-field.success input {
	border-color: #2ecc71;
}

.form-field.error input {
	border-color: #e74c3c;
}
.svg-inline--fa {
    display: inline-block;
    position: absolute;
    font-size: inherit;
    height: 1em;
    right: 22px;
    top: 50%;
    transform: translate(0, -50%);
    overflow: visible;
    vertical-align: -.125em;
    visibility: hidden;
}
.svg-inline--fa.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.svg-inline--fa.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}
.form-field small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}
.form-field.error small {
	visibility: visible;
}
label {
    position: absolute;
    pointer-events: none;
    left: 28px;
    top:0;
    padding-bottom: 10px;
    transform: translateY(10px);
    line-height: 6px;
    color: #999;
    transition: all ease-out 0.1s;
    padding-top: 6px;
}
/* hiding placeholder in all browsers */
input::placeholder {
    visibility: hidden;
}
/* label final position */
input:not(:placeholder-shown) + label {
    transform: translateY(-8px);
    background-color: #fff;
    padding: 4px;
    font-size: 11px;
}
/* hiding  placeholder in mozilla */
.login-form ::-moz-placeholder {
    color: transparent;
}
/* input padding increases if placeholder is not shown */
input:not(:placeholder-shown) {
    padding-top: 5px;
    padding-bottom: 5px;
}
.btn-danger {
    color: #fff;
    background-color: #f55858;
    border-color: #fa4747;
}
button:hover{
    background-color: #fa4747 !important;
    border-color:none !important;
}
textarea{
    background: #fafafa !important;
    border: 1px solid #dbdbdb;
}
textarea::placeholder{
    color: #999999 !important;
}